<!DOCTYPE html>
<html lang="en" data-theme="dracula">
<head>
<link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
<script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
<link href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css" rel="stylesheet" type="text/css" />
<meta charset="UTF-8">
<title>Registrar OVNI</title>
</head>
<body>
<h1 class="text-2xl font-bold text-primary p-8">Registrar OVNI</h1>
<main class="grid place-items-center gap-4 p-8">
<form class="w-full max-w-md" method="post" th:action="@{/register/form}">
<fieldset class="fieldset">
<legend class="fieldset-legend">Localização</legend>
<input name="location" type="text" class="input" placeholder="Digite a localização" th:value="*{location}" required />
</fieldset>
<fieldset class="fieldset">
<legend class="fieldset-legend">Data e Hora</legend>
<input name="localDateTime" type="datetime-local" class="input" th:value="*{localDateTime}" required />
</fieldset>
<fieldset class="fieldset">
<legend class="fieldset-legend">Formato</legend>
<select name="shapeEnum" class="select select-primary" th:value="*{shapeEnum}" required>
<option th:each="shape : ${T(br.com.fiap.ovnis.register.enums.ShapeEnum).values()}"
                       th:value="${shape}" th:text="${shape}">Forma</option>
</select>
</fieldset>
<fieldset class="fieldset">
<legend class="fieldset-legend">Quantidade de Objetos</legend>
<input name="quantity" type="number" min="1" class="input" placeholder="Quantidade" th:value="*{quantity}" required />
</fieldset>
<div class="space-x-4 mt-4">
<a href="/register" class="btn btn-neutral">Cancelar</a>
<button type="submit" class="btn btn-primary">Salvar</button>
</div>
</form>
</main>
</body>
</html>