<!DOCTYPE html>
<html lang="en" data-theme="dracula">
<head>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css" rel="stylesheet" type="text/css" />
    <meta charset="UTF-8">
    <title>EpicTask</title>
</head>
<body>

<h1 class="text-2xl font-bold text-primary p-8">Epic Task</h1>

<main class="grid place-items-center gap-4 p-8">
    <form class="w-full max-w-md" method="post">
        <fieldset class="fieldset">
            <legend class="fieldset-legend">Título</legend>
            <input name="title" type="text" class="input" placeholder="título da tarefa" />
            <p class="label">campo obrigatório</p>
        </fieldset>

        <fieldset class="fieldset">
            <legend class="fieldset-legend">Descrição</legend>
            <textarea name="description" class="textarea" placeholder="descrição da tarefa"></textarea>
            <p class="label">pelo menos 10 caracteres</p>
        </fieldset>

        <fieldset class="fieldset">
            <legend class="fieldset-legend">Pontos</legend>
            <input name="score" id="score-range" type="range" min="0" max="100" value="40" class="range range-primary" />
            <p id="score-label" class="label">40 pts</p>
        </fieldset>

        <div class="space-x-4">
            <a href="/task" class="btn btn-neutral">Cancelar</a>
            <button class="btn btn-primary">Salvar</button>
        </div>

    </form>
</main>

<script>
    document.querySelector("#score-range").addEventListener("input", e => {
        document.querySelector("#score-label").textContent = e.target.value + " pts"
    })
</script>

</body>
</html>